.clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.display-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
}
/* =Global styles/layout
-------------------------------------------------------------- */
.applying_for {
  font-weight: bold;
}
.company-listings-tabs ul.tabs {
  list-style: none;
  padding: 0 0 0 1em;
  margin: 0 0 1.618em;
  overflow: hidden;
  position: relative;
}
.company-listings-tabs ul.tabs li {
  border: 1px solid #d3ced2;
  background-color: #ebe9eb;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 -5px;
  padding: 0 1em;
}
.company-listings-tabs ul.tabs li a {
  display: inline-block;
  padding: 0.5em 0;
  font-weight: 700;
  color: #515151;
  text-decoration: none;
}
.company-listings-tabs ul.tabs li a:hover {
  text-decoration: none;
  color: #6b6b6b;
}
.company-listings-tabs ul.tabs li.active {
  background: #fff;
  z-index: 2;
  border-bottom-color: #fff;
}
.company-listings-tabs ul.tabs li.active a {
  color: inherit;
  text-shadow: inherit;
}
.company-listings-tabs ul.tabs li.active::before {
  box-shadow: 2px 2px 0 #fff;
}
.company-listings-tabs ul.tabs li.active::after {
  box-shadow: -2px 2px 0 #fff;
}
.company-listings-tabs ul.tabs li::before,
.company-listings-tabs ul.tabs li::after {
  border: 1px solid #d3ced2;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: ' ';
}
.company-listings-tabs ul.tabs li::before {
  left: -6px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #ebe9eb;
}
.company-listings-tabs ul.tabs li::after {
  right: -6px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #ebe9eb;
}
.company-listings-tabs ul.tabs::before {
  position: absolute;
  content: ' ';
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #d3ced2;
  z-index: 1;
}
.company-listings-tabs .panel {
  margin: 0 0 2em;
  padding: 0;
}
.inline-list,
.inline-list__item {
  display: inline;
}
.inline-list__item {
  margin-left: 10px;
}
.inline-list__item a {
  text-decoration: none;
}
.bare-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.company-dir-header p {
  text-align: center;
  font-size: 22px;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 15px;
}
.company-dir-header i {
  border-color: #E0E6ED;
  border-bottom-width: .1rem!important;
  border-style: solid;
  border-width: 0;
  margin-bottom: 40px;
  display: block;
}
.company-dir-title {
  margin: 60px 0;
}
.company-dir-title h2 {
  font-size: 24px;
  font-weight: 600;
}
.company-dir-list {
  list-style: none;
  column-count: 4;
}
.company-dir-list .company-dir-list-item a {
  text-decoration: none;
}
.company-directory-search {
  margin: 30px 0;
}
.company-directory-search form > div {
  position: relative;
}
.company-directory-search #jmcl_search {
  width: 100%;
  background-image: url(../images/select2x2.png) !important;
  background-repeat: no-repeat !important;
  background-size: 120px 80px !important;
  background-position: 100% -45px !important;
}
.company-listings-data-row {
  position: relative;
  cursor: move;
}
.company-listings-data-row label {
  cursor: move;
}
.company-listings-data-row .company-listings-remove-row {
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  margin: 0.5em -1.25em 0 0;
  width: 1em;
  padding: 1em 0 0 0;
  overflow: hidden;
  color: #ccc;
}
.company-listings-data-row .company-listings-remove-row:before {
  content: 'x';
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  line-height: 1em;
  text-align: center;
}
.company-listings-data-row .company-listings-remove-row:hover {
  color: red;
}
.company-listings-data-row fieldset:last-child {
  border-bottom: 4px solid #eee;
}
.company_preview {
  padding: 0 1em 1em;
  border: 5px solid #eee;
}
.company_preview_title,
.entry-content .company_preview_title {
  padding: .5em 1em;
  vertical-align: middle;
  position: relative;
  background: #eee;
}
.company_preview_title h2,
.entry-content .company_preview_title h2 {
  margin: 0;
  clear: none;
}
.company_preview_title .button,
.entry-content .company_preview_title .button {
  float: right;
  margin-left: .25em;
}
.company-directory .filter-alpha-label {
  width: auto;
  float: left;
  line-height: 30px;
}
.single-company_listings div.company_listings {
  margin-bottom: 0;
  position: relative;
}
.single-company_listings .single-featured-image-header,
.single-company_listings .entry-title,
.single-company_listings .entry-post-thumbnail,
.single-company_listings .entry-image {
  display: none;
}
.single-company_listings .company-video {
  padding: 1em 0 0;
  margin: 1em 0 2em 0;
}
.single-company_listings .company-video iframe {
  margin: 0;
  display: block;
}
.single-company_listings .type-company_listings {
  padding: 0;
  margin: 0;
}
.single-company_listings .type-company_listings .entry-header,
.single-company_listings .type-company_listings .wp-post-image {
  display: none;
}
.single-company_listings .navigation,
.single-company_listings .post-navigation {
  display: none !important;
}
.single-company_listings .jmcl-item-header {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border-color: #E0E6ED;
  color: #323241;
  border-width: 0.1rem;
  border-style: solid;
  margin-bottom: 2em;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-logo,
.single-company_listings .jmcl-item-header .jmcl-item-header-content {
  display: flex;
  align-items: center;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-logo {
  padding: 15px;
  padding: 0 5px;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-logo .wp-post-image {
  display: block !important;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content {
  display: block;
  border-color: #E0E6ED;
  color: #323241;
  border-style: solid;
  border-width: 0;
  padding-left: 5px;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content a.company-title {
  color: #444454;
  cursor: pointer;
  text-decoration: none;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content a.company-title h3 {
  margin: 0;
  padding: 0;
  line-height: 2;
  font-weight: 600;
  font-size: 32px;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content p.company-tagline {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content p.company-tagline span {
  font-weight: 600;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content div.company-location {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content div.company-location a {
  color: #787985;
  cursor: pointer;
  text-decoration: none;
}
.single-company_listings .jmcl-item-header .jmcl-item-header-content ul.company-info {
  line-height: 2rem;
  margin: 0;
  padding: 0;
}
.single-company_listings .jmcl-item-header ul.company-info-wrap {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: #787985;
}
.single-company_listings .jmcl-item-header ul.company-info-wrap li {
  display: inline;
}
.single-company_listings .jmcl-item-header ul.company-info-wrap li label {
  display: inline;
}
.single-company_listings .jmcl-item-header ul.company-info-wrap li:after {
  content: "\2022";
  margin: 0 1rem;
}
.single-company_listings .jmcl-item-header ul.company-info-wrap li:last-child:after {
  content: '';
}
.single-company_listings .company-listings-press h3,
.single-company_listings .company-listings-perk h3 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.single-company_listings .company-listings-press h3:before,
.single-company_listings .company-listings-perk h3:before {
  display: block;
  width: .75em;
  height: .75em;
  background: #eee;
  content: "";
  margin: 1em 0 0 -0.375em;
  position: absolute;
  left: -4px;
  top: 0;
  -moz-border-radius: .75em;
  -webkit-border-radius: .75em;
  border-radius: .75em;
  border: 4px solid #fff;
}
.single-company_listings .company-listings-press dt,
.single-company_listings .company-listings-perk dt,
.single-company_listings .company-listings-press dd,
.single-company_listings .company-listings-perk dd {
  border-left: 2px solid #ddd;
  padding: 0 0 0 1em;
  margin: 0;
}
.single-company_listings .company-listings-press p,
.single-company_listings .company-listings-perk p {
  margin: 1em 0 0 0;
}
.single-company_listings .company-listings-press dt,
.single-company_listings .company-listings-perk dt {
  padding: 1em 0 0 1em;
  position: relative;
}
.single-company_listings .company-listings-press dd,
.single-company_listings .company-listings-perk dd {
  overflow: hidden;
}
.single-company_listings .company-listings-skills {
  padding: 0;
  margin: 0 0 1em;
  list-style: none;
}
.single-company_listings .company-listings-skills li {
  margin: 0 0 .5em;
  width: 50%;
  padding: 0 0 0 1em;
  display: inline-block;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.single-company_listings small.date {
  color: #999;
  font-size: .75em;
  font-weight: normal;
  text-transform: uppercase;
}
.single-company_listings .meta {
  list-style: none outside;
  padding: 0;
  margin: 0 0 1.5em;
  overflow: hidden;
  zoom: 1;
  clear: both;
}
.single-company_listings .meta li {
  margin: 0 .5em 0 0;
  padding: .5em;
  float: left;
  line-height: 1em;
  color: #999;
}
.single-company_listings .meta li:first-child {
  padding-left: 0;
}
.single-company_listings .meta .company-category:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
}
.single-company_listings .meta .company-title:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
  content: '\e807';
}
.single-company_listings .meta .date-posted:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
  content: '\e80f';
}
.single-company_listings .company_contact {
  overflow: hidden;
  zoom: 1;
  padding-left: 20px;
  margin: 0 0 1em;
}
.single-company_listings .company_contact .company_contact_button,
.single-company_listings .company_contact .company_contact_details {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.single-company_listings .company_contact .company_contact_button {
  text-align: center;
  font-size: 1.2em;
  line-height: 1em;
  width: 33.3%;
  float: left;
  margin: 0 0 0 -20px;
  padding: 0.83333333em;
}
.single-company_listings .company_contact .company_contact_details {
  float: right;
  width: 66.6%;
  border: 1px solid #eee;
  padding: .75em 1em 0;
  margin: 0;
  line-height: 1.5em;
  display: block;
  position: relative;
}
.single-company_listings .company_contact .company_contact_details p {
  margin: 0 0 .75em;
}
.single-company_listings .company_contact .company_contact_details:before {
  content: "";
  position: absolute;
  margin: 0 0 0 -10px;
  left: 0;
  top: 1em;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #eee;
}
.single-company_listings .company_contact .company_contact_details:after {
  content: "";
  position: absolute;
  margin: 1px 0 0 -9px;
  top: 1em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #fff;
}
.single-company_listings .company-aside {
  position: relative;
  padding: 1em;
  margin: 0 0 2em;
  display: block;
  clear: both;
  min-height: 3em;
  overflow: hidden;
}
.single-company_listings .company-aside img {
  width: 3em;
  height: 3em;
  position: absolute;
  left: 1em;
  float: left;
  vertical-align: middle;
  box-shadow: none;
}
.single-company_listings .company-aside .job-title {
  display: block;
  margin: 0;
  padding: 0 0 0 4em;
  font-weight: bold;
  line-height: 1.5em;
}
.single-company_listings .company-aside .job-title:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
}
.single-company_listings .company-aside .location {
  display: block;
  margin: 0;
  padding: 0 0 0 4em;
  line-height: 1.5em;
  color: #999;
}
.single-company_listings .company-aside .location a:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
  content: '\e81d';
}
.single-company_listings .company-aside .company-video {
  border-top: 1px solid #eee;
  padding: 1em 0 0;
  margin: 1em 0 2em 0;
}
.single-company_listings .company-aside .company-video iframe {
  margin: 0;
  display: block;
}
.single-company_listings .company-aside .company-links {
  line-height: 1.5em;
  list-style: none outside;
  padding: 0;
  margin: 0;
  overflow: hidden;
  zoom: 1;
  float: right;
  max-width: 50%;
}
.single-company_listings .company-aside .company-links li {
  margin: 0 0 0 1em;
  padding: 0;
  float: right;
}
.single-company_listings .company-aside .company-links .company-link a:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
  content: '\e809';
}
.single-company_listings .company-aside .company-links .company-file a:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
  content: '\e81b';
}
.single-company_listings .company-aside .company-links .company-link-twitter a:before {
  content: '\e80a';
}
.single-company_listings .company-aside .company-links .company-link-linkedin a:before {
  content: '\e80b';
}
.single-company_listings .company-aside .company-links .company-link-github a:before {
  content: '\e810';
}
.single-company_listings .company-aside .company-links .company-link-dribbble a:before {
  content: '\e811';
}
.single-company_listings .company-aside .company-links .company-link-facebook a:before {
  content: '\e80c';
}
.single-company_listings .company-aside .company-links .company-link-wordpress a:before {
  content: '\e812';
}
.single-company_listings .company-aside .company-links .company-link-google a:before {
  content: '\e813';
}
.single-company_listings .company-aside .company-links .company-link-pinterest a:before {
  content: '\e814';
}
.single-company_listings .company-aside .company-links .company-link-flickr a:before {
  content: '\e815';
}
.single-company_listings .company-aside .company-links .company-link-instagram a:before {
  content: '\e816';
}
.single-company_listings .company-aside .company-links .company-link-skype a:before {
  content: '\e817';
}
#company-listings-company-dashboard table td {
  vertical-align: top;
}
#company-listings-company-dashboard table td small {
  font-size: 0.92em;
  color: #999;
  display: block;
}
#company-listings-company-dashboard table ul.company-dashboard-actions {
  margin: 0;
  padding: 0;
  visibility: hidden;
  font-size: 0.92em;
}
#company-listings-company-dashboard table ul.company-dashboard-actions li {
  float: none;
  display: inline;
  padding: 0;
  margin: 0 .5em 0 0;
  font-weight: normal;
  list-style: none outside;
}
#company-listings-company-dashboard table ul.company-dashboard-actions li:after {
  padding: 0 0 0 .5em;
  content: "\2023";
}
#company-listings-company-dashboard table ul.company-dashboard-actions li:last-child:after {
  content: '';
}
#company-listings-company-dashboard table ul.company-dashboard-actions li .company-dashboard-action-delete {
  color: red;
}
#company-listings-company-dashboard table tr:hover ul.company-dashboard-actions,
#company-listings-company-dashboard table tr:focus ul.company-dashboard-actions {
  visibility: visible;
}
.company_filters {
  background: #eee;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.company_filters:before,
.company_filters:after {
  content: "";
  display: table;
}
.company_filters:after {
  clear: both;
}
.company_filters .search_companies {
  padding: 1em;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.company_filters .search_companies:before,
.company_filters .search_companies:after {
  content: "";
  display: table;
}
.company_filters .search_companies:after {
  clear: both;
}
.company_filters .search_companies div.company-filter {
  width: 50%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.company_filters .search_companies div.company-filter label {
  display: none;
}
.company_filters .search_companies div.company-filter.search_keywords,
.company_filters .search_companies div.company-filter.filter_first {
  float: left;
  padding-right: .5em;
}
.company_filters .search_companies div.company-filter.search_location,
.company_filters .search_companies div.company-filter.filter_last {
  float: right;
  padding-left: .5em;
}
.company_filters .search_companies div.company-filter.search_categories,
.company_filters .search_companies div.company-filter.filter_wide {
  padding-top: .5em;
  clear: both;
  width: 100%;
}
.company_filters .search_companies div.company-filter input,
.company_filters .search_companies div.company-filter select {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
}
.company_filters .company_types {
  list-style: none outside;
  margin: 0;
  padding: 0;
  font-size: 0.83em;
  background: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
.company_filters .company_types:before,
.company_filters .company_types:after {
  content: "";
  display: table;
}
.company_filters .company_types:after {
  clear: both;
}
.company_filters .company_types li {
  margin: 0;
  padding: .5em 1em;
  float: left;
  border-right: 1px solid #eee;
}
.company_filters .company_types li:last-child {
  border-right: 0;
}
.company_filters .showing_companies {
  padding: .5em 1em;
  display: none;
  font-size: 0.83em;
  background: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.company_filters .showing_companies a {
  float: right;
  padding-left: 10px;
}
div.companies .job-manager-pagination {
  text-align: center;
  display: block;
  padding: 1em 0 1em 0;
  border-bottom: 1px solid #eee;
  line-height: 1;
}
div.companies .load_more_companies {
  text-align: center;
  display: block;
  padding: 1em 1em 1em 2em;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
div.companies .load_more_companies.loading {
  background: url(../images/ajax-loader.gif) no-repeat center;
}
div.companies .load_more_companies.loading strong {
  visibility: hidden;
}
div.companies .load_more_companies:hover,
div.companies .load_more_companies:focus {
  background-color: #fcfcfc;
}
div.companies {
  margin-bottom: 1em;
}
div.companies ul.companies {
  margin: 0;
}
ul.companies {
  padding: 0;
  margin: 0;
  border-top: 1px solid #eee;
}
ul.companies.loading {
  min-height: 96px;
  border-bottom: 1px solid #eee;
  background: url(../images/ajax-loader.gif) no-repeat center 32px;
}
ul.companies li.company_listings,
ul.companies li.no_companies_found {
  list-style: none outside;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
}
ul.companies li.company_listings.no_companies_found,
ul.companies li.no_companies_found.no_companies_found {
  padding: 1em;
  border-bottom: 1px solid #eee;
}
ul.companies li.company_listings a,
ul.companies li.no_companies_found a {
  display: block;
  padding: 1em 1em 1em 2em;
  overflow: hidden;
  zoom: 1;
  position: relative;
  line-height: 1.5em;
  font-size: 1em;
  text-decoration: none;
}
ul.companies li.company_listings a:hover,
ul.companies li.no_companies_found a:hover,
ul.companies li.company_listings a:focus,
ul.companies li.no_companies_found a:focus {
  background-color: #fcfcfc;
}
ul.companies li.company_listings a img,
ul.companies li.no_companies_found a img {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 1em;
  float: left;
  margin-right: 1em;
  vertical-align: middle;
  box-shadow: none;
}
ul.companies li.company_listings a div.company-column,
ul.companies li.no_companies_found a div.company-column,
ul.companies li.company_listings a div.location-column,
ul.companies li.no_companies_found a div.location-column,
ul.companies li.company_listings a .company-posted-column,
ul.companies li.no_companies_found a .company-posted-column {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
ul.companies li.company_listings a div.company-column,
ul.companies li.no_companies_found a div.company-column {
  float: left;
  padding: 0 1em 0 42px;
  line-height: 1.5em;
}
ul.companies li.company_listings a div.company-column h3,
ul.companies li.no_companies_found a div.company-column h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em;
}
ul.companies li.company_listings a div.company-column .company-title,
ul.companies li.no_companies_found a div.company-column .company-title {
  color: #999;
}
ul.companies li.company_listings a div.company-column .company-title .tagline,
ul.companies li.no_companies_found a div.company-column .company-title .tagline {
  color: #333;
}
ul.companies li.company_listings a .company-location-column,
ul.companies li.no_companies_found a .company-location-column {
  float: left;
  text-align: left;
  width: 25%;
  padding: 0;
  color: #999;
  line-height: 1.5em;
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
ul.companies li.company_listings a .company-posted-column,
ul.companies li.no_companies_found a .company-posted-column {
  float: right;
  text-align: right;
  width: 25%;
  padding: 0;
  margin: 0;
  color: #999;
  line-height: 1.5em;
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
ul.companies li.company_listings a .company-meta,
ul.companies li.no_companies_found a .company-meta {
  line-height: 2.03em;
}
ul.companies li.company_listings a .company-category:before,
ul.companies li.no_companies_found a .company-category:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: 'job-manager' !important;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  vertical-align: top;
  font-size: 16px;
  margin: 0 3px 0 0;
  *overflow: auto;
  *zoom: 1;
  *display: inline;
}
ul.companies li.company_listings.company_featured a,
ul.companies li.no_companies_found.company_featured a {
  background: #fefee5;
}
ul.companies li.company_listings.company_featured a:hover,
ul.companies li.no_companies_found.company_featured a:hover,
ul.companies li.company_listings.company_featured a:focus,
ul.companies li.no_companies_found.company_featured a:focus {
  background-color: #fefed8;
}
.apply_with_company label {
  display: block;
}
.apply_with_company select {
  width: 50%;
}
.apply_with_company textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.widget ul.companies li.company_listings a {
  padding: 1em 0;
}
.widget ul.companies li.company_listings .company_listings {
  float: none;
  width: auto;
  padding: 0;
}
.widget ul.companies li.company_listings .company_listings h3 {
  margin: 0;
  padding: 0;
}
.widget ul.companies li.company_listings ul.meta {
  float: none;
  width: auto;
  padding: 0;
  margin: 0;
  text-align: left;
}
.widget ul.companies li.company_listings ul.meta li {
  float: none;
  display: inline;
  padding: 0;
  margin: 0 .5em 0 0;
  font-weight: normal;
}
.widget ul.companies li.company_listings ul.meta li:after {
  padding: 0 0 0 .5em;
  content: "\2023";
}
.widget ul.companies li.company_listings ul.meta li:last-child:after {
  content: '';
}
.widget ul.company-links {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
  color: #787985;
}
.widget ul.company-links li {
  display: inline;
}
.widget ul.company-links li label {
  display: inline;
}
.widget ul.company-links li:before {
  content: "\2022";
  margin: 0 1rem;
}
.twenty-eleven ul.companies li.companies,
.twenty-eleven ul.companies li.no_companies_found {
  padding: 0 !important;
}
.twenty-ten .chosen-choices {
  margin: 0 !important;
}
